body{
    /* background-image: url("White\ Green\ Watercolour\ Blank\ Notes\ Background\ A4\ Document\ .png"); */
    background-color: rgb(211, 217, 192);
    color: black;

}
header{
    background-color: black;
}
